* {
    margin: 0;
    padding: 0;
    font-family: 'Rakkas';
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    padding: 20px 30px;
    width: 310px;
    height: 400px;
    backdrop-filter: blur(800px);
    border-radius: 5px;
    box-shadow: 1px 2px 2px 4px rgb(40, 115, 117);;
}

.box .form {
    padding: 10px 20px;
}

.box .form h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

.box .form form{
    margin-top: 50px;
    text-align: start;
}

.box .form form .inputbox input{
    padding:  10px 20px;
    border: none;
    outline: none;
    background: none;
    text-align: start;
    border-bottom: 2px ridge rgb(45, 45, 79) ;
    margin-bottom: 20px;
    color: bisque;
}

.box .form form .inputbox #span1{
    position: relative;
    bottom: 73px;
    color: hsla(42, 92%, 34%, 0.75);
    
}

.box .form form .inputbox #span2{
    position: relative;
    bottom: 73px;
    color: hsla(42, 92%, 34%, 0.75);
}

.box .form form .inputbox #span3{
    position: relative;
    bottom: 73px;
    color: hsla(42, 92%, 34%, 0.75);
}

 #submit{
    margin-right: 0px;
    padding: 10px 15px;
    color: bisque;
    border: none;
    background-color: rgb(45, 45, 79);
    cursor: pointer;
    font-size: 15px;
}

#sign-up {
    margin: 0px 20px;
    padding: 10px 15px;
    color: bisque;
    border: none;
    background-color: rgb(45, 45, 79); 
    font-size: 15px;
}
